<section class="section">
    <div class="container">
        <nav class="level">
            <p class="level-left has-text-centered">
                <a href="/">
                <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
                </a>
            </p>
            <p class="content level-right has-text-centered is-italic quote">
                {{ index (shuffle .Site.Data.default.other.quotes) 0 }}
            </p>
        </nav>
    </div>
</section>
