<section class="section subscribe-form">
    <div class="container container-post" id="sub">
        <h3 class="title is-3">Subscribe</h3>
        <h5 class="subtitle is-5">
            If you dig this content, you may want to subscribe to our newsletter.
        </h5>

        <div class="field has-addons">
            <div class="control is-expanded">
                <div class="control has-icons-left has-icons-right">
                    <input 
                        class="input is-large" 
                        type="text" 
                        placeholder="Enter e-mail"
                        v-model="email"
                        >
                    <span class="icon is-medium is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-medium is-right">
                        <i :class="classesOnValidation"></i>
                    </span>
                </div>
            </div>
            <div class="control">
                <button 
                class="button is-primary is-large" 
                v-bind:disabled="cannotSubmit"
                v-on:click="subClicked">
                    <span v-text="subBtnLabel"></span>
                </button>
            </div>
        </div>
    </div>
</section>