@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

$white: #fff;
$beet: #49002c;
$beet-darker: #200b1f;
$regal-red: #540032;
$regal-red-lighter: #66003d;
$fire: #C9283E;
$violet: #965677;
$violet-lighter: #AB6288;
$violet-darker: #78455F;
$red-wine: #69013f;
$red-wine-darker: #540032;
$scarlet-pink: #e7b7bb;

$poison: #8ed480;
$poison-lighter: #afdda5;
$poison-darker: #539e44;

$family-playfair: "Playfair Display", serif;
$family-opensans: "Open Sans", sans-serif;
$family-primary: $family-opensans;

$primary: $regal-red;
$success: $poison;
$info: $scarlet-pink;

$navbar-item-hover-background-color: $regal-red-lighter;

$tag-background-color: $red-wine;
$tag-color: $scarlet-pink;
$tag-radius: 0;

$box-background-color: $red-wine;
$box-radius: 0;
$text: $white;
$text-strong: $white;
$title-color: $white;
$subtitle-color: $white;
$title-color: $white;
$content-heading-color: $white;

$link: $poison;
$link-visited: $poison-darker;
$link-hover: $poison-lighter;

$footer-background-color: $beet-darker;
$footer-height: 144px;