@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

$tangerine: #ff4e00;
$tangerine-lighter: #ff834d;
$tangerine-darker: #cc3e00;

$metal: #f6f6f6;
$metal-lighter: #fbfbfb;
$metal-darker: #eee;

$family-playfair: "Playfair Display", serif;
$family-opensans: "Open Sans", sans-serif;
$family-primary: $family-opensans;

$primary: $tangerine;
$success: black;
$info: black;

$navbar-item-hover-background-color: $tangerine-lighter;

$tag-background-color: black;
$tag-color: white;
$tag-radius: 0;

$box-background-color: $metal-lighter;
$box-radius: 0;
$text: black;
$text-strong: black;
$title-color: black;
$subtitle-color: black;
$title-color: black;
$content-heading-color: black;

$link: $tangerine;
$link-visited: $tangerine-darker;
$link-hover: $tangerine-lighter;

$footer-background-color: $metal;
$footer-height: 144px;