@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

$post-width: 960px; /*Number divisable by 12 and 16*/

/*
Main Colors
*/
$tangerine: #ff4e00;
$tangerine-lighter: #ff834d;
$tangerine-darker: #cc3e00;

$moon: #425A78;
$moon-lighter: #87B8F5;
$moon-darker: #2D3D52;
$moon-even-darker: #212d3d;

$metal: #f6f6f6;
$metal-lighter: #fbfbfb;
$metal-darker: #eee;
$metal-even-darker: #c1bfbf;

/*
Fonts
*/
$family-playfair: "Playfair Display", serif;
$family-opensans: "Open Sans", sans-serif;
$family-primary: $family-opensans;

$primary: $moon;
$success: green;
$info: black;

$website-background-color: $moon-darker;

$header-background-color: $moon-lighter;

$navbar-background-color: $metal-darker;
$navbar-item-hover-background-color: $metal-darker;

$tag-background-color: black;
$tag-color: white;
$tag-radius: 0;

$card-background-color: $moon;
$card-color: $metal-lighter;

$first-letter-color: $metal;

$box-background-color: $moon-lighter;
$box-radius: 0;
$text: $metal;
$text-strong: $metal-even-darker;
$title-color: black;
$subtitle-color: black;
$title-color: $metal-darker;
$subtitle-color: $metal-even-darker;
$content-heading-color: black;

$link: $metal-darker;
$link-visited: $moon;
$link-hover: $moon-lighter;
$pagination-link-color: white;
$pagination-background-color: $moon-darker;
$pagination-background-current-color: $moon-even-darker;

$footer-background-color: $moon-even-darker;
$footer-height: 144px;