{{ partial "header.html" . }}

<body>
    {{ partial "banner.html" . }}
    <section class="section">
        <div class="container container-post">
            {{ partial "single/post/nav.html" . }}

            <div class="box">
                {{ partial "single/post/author.html" . }}
                <div class="content">
                    <h1 class="title is-1">{{.Page.Title}}</h1>
                    <p>
                        {{.Page.Content}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    {{ partial "subscribe.html" .}}
    {{ partial "footer.html" .}}
</body>